<h1>
  {{title}}
</h1>
<div ng-app="gameOfLifeApp" ng-controller="gameOfLifeCtrl">
  <table>
      <tr ng-repeat="row in rows">
          <td ng-click="activate(rows.indexOf(row), $index) ng-repeat=col in row.cols"
          ng-class="{'born':col.active==1, 'old':col.active>1}">
          </td>
      </tr>
  </table>

  <div class="components">
    <button ng-click="stop()">Stop</button>
    <button ng-click="start(false)">Start</button>
    <button ng-click="clear()">Clear</button>
    Generation: {{generation}}
  </div>
</div>
